html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./../images/bg-pattern.png');
}

li {
  list-style: none;
}

.search-form {
}

.country-list li {
  list-style: disc;
}

h1 {
  text-align: center;
}

.properties {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.capital {
}

.population {
}

.languages {
}

.languages-list {
}

.languages-list li {
  list-style: disc;
}

.flag {
}
